<h1>{{meeting.title}}</h1>
<h3>{{meeting.location}}</h3>
<div class="d-md-flex h-md-100 align-items-center">


    <div class="col-md-6 p-0 bg-white h-md-100">
        {{!-- <h3>Meeting Details</h3> --}}
        <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
            {{meeting.description}}
        </div>
    </div>

</div>


<div>
    {{#each users}}
    <div>
        {{ this.name }}
    </div>
    {{/each}}
</div>

<div style="margin-top: 36px">RSVPs</div>
{{#each rsvps}}
<div>
    {{ this.name }} ({{ this.title }}) - {{ this.status }}
</div>
{{/each}}

<script src="../../public/scripts.js"></script>